/* CSS for Employee Table */
.container {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #ffffff;
  }
  
  .even {
    background-color: #f2f2f2;
  }
  
  .odd {
    background-color: #b3b0b0;
  }
  
  tr:hover {
    background-color: #cce6ff; /* Change this to any color you like for hover effect */
  }
  
  .actionBtns button {
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 5px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn-delete {
    background-color: #ff0019;
    color: white;
    padding: 6px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  
  .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
  }
  